.atas {
    border: 3px solid rgb(0, 255, 234); 
    background-color: rgb(23, 151, 160);
    text-align: center;
     border-radius: 10px;
      margin: 2px;
    flex-wrap: wrap;
    width: 100%;

}

.honorablemention{
    text-align: center;
    background-color: gold;
    color: rgb(199, 199, 7);
}

.bot{
    display: flex;
    justify-content: space-between ;
    border: 5px double black;
    background-color: aqua;
    border-radius: 10px;
    margin-top: 100px;
}
